/*
 *
 *
 */

.mask{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: rgba(238,238,238,0.6);
	filter:alpha(opacity=60);
	-webkit-background-size:100%;
	-webkit-box-orient:vertical;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	-moz-background-size:100%;
	-moz-box-orient:vertical;
	-moz-box-align:center;
	-o-background-size:100%;
	-o-box-orient:vertical;
	-o-box-align:center;
	-ms-background-size:100%;
	-ms-box-orient:vertical;
	-ms-box-align:center;
	background-size:100%;
	box-orient:vertical;
	box-align:center;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-box;
	display:box;
	overflow:hidden;
}
.mask .loading{
	font-weight:bold;
	text-align:center;
	width:300px;
	height:100px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-100px;
	margin-left:-150px;
	overflow:hidden;
}