html{ overflow:auto}
.formpanel{margin:10px 20px;}
.formpanel .cell{padding:4px;}
.label{
	display:inline-block;
	color:#666;

	font-size:16px;
	font-weight:bold;
}
.input{
	width:200px;
	height:18px;
	font-size:14px;
	line-height:18px;
	padding:5px 10px;
	overflow:hidden;
	vertical-align:top;
	background:#fff;
	color:#000;
	border:1px solid #aaa;
}
.error{display:inline-block;width:20px;height:20px;vertical-align:middle;background:url(error.gif) center center no-repeat;}
.w60{width:60px;}

.none{display:none;}

.login{margin-left:39px;}
